<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./application_log/application.log</file>
        <!-- <file>/application_log/application.log</file>  해버리면 C 밑에 생성되버린다.-->
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] - %msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./application_log/application_log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
            <!-- <maxFileSize>1mb</maxFileSize>  kb, gb, mb 단위 -->
            <!-- <maxHistory>5</maxHistory> 5일 지난 로그는 오래된 순서대로 지우는 것...  -->
        </rollingPolicy>
    </appender>

    <logger name="com" level="info"/>
    <logger name="com" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <!--
    <root level="debug">
          <appender-ref ref="FILE" />
    </root>
    -->
</configuration>